@font-face {
	font-family: "Roboto Regular";
	src: url("./fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto regular";
	outline: none;
}
html, body {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}
